<a href="https://colab.research.google.com/github/raikhushi03/Bioavalability-of-drugs/blob/main/Prediction_and_Analysis_of_Neural_Disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries:**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import utils
from sklearn import svm
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import sklearn.datasets
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# **Importing the Dataset:**

In [ ]:
data=pd.read_csv('/content/Medical (1).csv')

# **Data Analysis:**

In [ ]:
data

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,P1,33,1,2,4,5,4,3,2,2,...,3,4,2,2,3,1,2,3,4,Low
1,P10,17,1,3,1,5,3,4,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,P100,35,1,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
3,P1000,37,1,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
4,P101,46,1,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P995,44,1,6,7,7,7,7,6,7,...,5,3,2,7,8,2,4,5,3,High
996,P996,37,2,6,8,7,7,7,6,7,...,9,6,5,7,2,4,3,1,4,High
997,P997,25,2,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
998,P998,18,2,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
999,P999,47,1,6,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High

In [ ]:
data.shape

(1000, 25)

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.head()

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,P1,33,1,2,4,5,4,3,2,2,...,3,4,2,2,3,1,2,3,4,Low
1,P10,17,1,3,1,5,3,4,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,P100,35,1,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
3,P1000,37,1,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
4,P101,46,1,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High

In [ ]:
data.tail()

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
995,P995,44,1,6,7,7,7,7,6,7,...,5,3,2,7,8,2,4,5,3,High
996,P996,37,2,6,8,7,7,7,6,7,...,9,6,5,7,2,4,3,1,4,High
997,P997,25,2,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
998,P998,18,2,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
999,P999,47,1,6,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High

In [ ]:
data.sample(5)

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
951,P955,45,2,1,2,3,4,2,4,3,...,4,1,2,4,6,5,4,2,5,Medium
293,P362,62,1,6,8,7,7,7,6,2,...,2,7,6,5,1,9,3,4,2,Medium
525,P571,52,1,6,8,7,7,7,6,2,...,2,7,6,5,1,9,3,4,2,Medium
404,P462,62,1,6,8,7,7,7,6,2,...,2,7,6,5,1,9,3,4,2,Medium
507,P555,45,2,1,2,3,4,2,4,3,...,4,1,2,4,6,5,4,2,5,Medium

In [ ]:
data.info()

In [ ]:
data.describe()

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,...,Coughing of Blood,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,37.174000,1.402000,3.8400,4.563000,5.165000,4.840000,4.580000,4.380000,4.491000,4.465000,...,4.859000,3.856000,3.855000,4.240000,3.777000,3.746000,3.923000,3.536000,3.853000,2.926000
std,12.005493,0.490547,2.0304,2.620477,1.980833,2.107805,2.126999,1.848518,2.135528,2.124921,...,2.427965,2.244616,2.206546,2.285087,2.041921,2.270383,2.388048,1.832502,2.039007,1.474686
min,14.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,27.750000,1.000000,2.0000,2.000000,4.000000,3.000000,2.000000,3.000000,2.000000,3.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,36.000000,1.000000,3.0000,5.000000,6.000000,5.000000,5.000000,4.000000,4.000000,4.000000,...,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000
75%,45.000000,2.000000,6.0000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,...,7.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,5.000000,6.000000,4.000000
max,73.000000,2.000000,8.0000,8.000000,8.000000,8.000000,7.000000,7.000000,7.000000,7.000000,...,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,9.000000,7.000000,7.000000,7.000000

In [ ]:
data.isnull().any()

Patient Id                  False
Age                         False
Gender                      False
Air Pollution               False
Alcohol use                 False
Dust Allergy                False
OccuPational Hazards        False
Genetic Risk                False
chronic Lung Disease        False
Balanced Diet               False
Obesity                     False
Smoking                     False
Passive Smoker              False
Chest Pain                  False
Coughing of Blood           False
Fatigue                     False
Weight Loss                 False
Shortness of Breath         False
Wheezing                    False
Swallowing Difficulty       False
Clubbing of Finger Nails    False
Frequent Cold               False
Dry Cough                   False
Snoring                     False
Level                       False
dtype: bool

In [ ]:
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      Patient Id    Age  Gender  Air Pollution  Alcohol use  Dust Allergy  \
0         False  False   False          False        False         False
1         False  False   False          False        False         False
2         False  False   False          False        False         False
3         False  False   False          False        False         False
4         False  False   False          False        False         False
..          ...    ...     ...            ...          ...           ...
995       False  False   False          False        False         False
996       False  False   False          False        False         False
997       False  False   False          False        False         False
998       False  False   False          False        False         False
999       False  False   False          False        False         False

     OccuPational Hazards  Genetic Risk  chronic Lung Disease  Balanced Diet  \
0                   False         False                 False          False
1                   False         False                 False          False
2                   False         False                 False          False
3                   False         False                 False          False
4                   False         False                 False          False
..                    ...           ...                   ...            ...
995                 False         False                 False          False
996                 False         False                 False          False
997                 False         False                 False          False
998                 False         False                 False          False
999                 False         False                 False          False

     ...  Fatigue  Weight Loss  Shortness of Breath  Wheezing  \
0    ...    False        False                False     False
1    ...    False        False                False     False
2    ...    False        False                False     False
3    ...    False        False                False     False
4    ...    False        False                False     False
..   ...      ...          ...                  ...       ...
995  ...    False        False                False     False
996  ...    False        False                False     False
997  ...    False        False                False     False
998  ...    False        False                False     False
999  ...    False        False                False     False

     Swallowing Difficulty  Clubbing of Finger Nails  Frequent Cold  \
0                    False                     False          False
1                    False                     False          False
2                    False                     False          False
3                    False                     False          False
4                    False                     False          False
..                     ...                       ...            ...
995                  False                     False          False
996                  False                     False          False
997                  False                     False          False
998                  False                     False          False
999                  False                     False          False

     Dry Cough  Snoring  Level
0        False    False  False
1        False    False  False
2        False    False  False
3        False    False  False
4        False    False  False
..         ...      ...    ...
995      False    False  False
996      False    False  False
997      False    False  False
998      False    False  False
999      False    False  False

[1000 rows x 25 columns]>

# **Handling Categorical Data:**

In [ ]:
data['Chances of Stroke'] = data['Level'].map({'Low':1,'Medium':2,'High':3})

In [ ]:
data.shape

(1000, 25)

In [ ]:
data.head(5)

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level,Chances of Stroke
0,P1,33,1,2,4,5,4,3,2,2,...,4,2,2,3,1,2,3,4,Low,1
1,P10,17,1,3,1,5,3,4,2,2,...,3,7,8,6,2,1,7,2,Medium,2
2,P100,35,1,4,5,6,5,5,4,6,...,7,9,2,1,4,6,7,2,High,3
3,P1000,37,1,7,7,7,7,6,7,7,...,2,3,1,4,5,6,7,5,High,3
4,P101,46,1,6,8,7,7,7,6,7,...,2,4,1,4,2,4,2,3,High,3

In [ ]:
df = data.drop(["Level"],axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient Id                1000 non-null   object
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   int64
 3   Air Pollution             1000 non-null   int64
 4   Alcohol use               1000 non-null   int64
 5   Dust Allergy              1000 non-null   int64
 6   OccuPational Hazards      1000 non-null   int64
 7   Genetic Risk              1000 non-null   int64
 8   chronic Lung Disease      1000 non-null   int64
 9   Balanced Diet             1000 non-null   int64
 10  Obesity                   1000 non-null   int64
 11  Smoking                   1000 non-null   int64
 12  Passive Smoker            1000 non-null   int64
 13  Chest Pain                1000 non-null   int64
 14  Coughing of Blood         1000 non-null   int64
 15  Fatigue                   1000 non-null   int64
 16  Weight Loss               1000 non-null   int64
 17  Shortness of Breath       1000 non-null   int64
 18  Wheezing                  1000 non-null   int64
 19  Swallowing Difficulty     1000 non-null   int64
 20  Clubbing of Finger Nails  1000 non-null   int64
 21  Frequent Cold             1000 non-null   int64
 22  Dry Cough                 1000 non-null   int64
 23  Snoring                   1000 non-null   int64
 24  Chances of Stroke         1000 non-null   int64
dtypes: int64(24), object(1)
memory usage: 195.4+ KB

# **Splitting Dataset into Training and Testing Data:**

In [ ]:
X=df.drop(['Patient Id','Chances of Stroke'], axis=1)

In [ ]:
Y=df['Chances of Stroke']

In [ ]:
print(X)
print(Y)

In [ ]:
scaling = MinMaxScaler()

In [ ]:
X = scaling.fit_transform(X)

In [ ]:
print(X)

In [ ]:
Y=np.array([1, 2, 3, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 3, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 3, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 1, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 1, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 1, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 1, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 1, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 1, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 2, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 2, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 3, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 1, 1, 2, 2, 3, 3, 2, 3, 1, 2, 2, 3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 1, 1, 3, 1, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,]).reshape(-1,1)

In [ ]:
X.shape

(1000, 23)

In [ ]:
Y.shape

(1000, 1)

In [ ]:
Y = scaling.fit_transform(Y)

In [ ]:
print(Y)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=1)

In [ ]:
print(X.shape, X_train.shape, X_test.shape, Y.shape, Y_train.shape, Y_test.shape)

(1000, 23) (800, 23) (200, 23) (1000, 1) (800, 1) (200, 1)

In [ ]:
print(X_train)
print(Y_train)

# **Modelling:**

# **Support Vector Machine:**

In [ ]:
svm_model = svm.SVC(kernel='linear')

In [ ]:
Y_train = np.ravel(Y_train, order='C')

In [ ]:
Y_train.shape

(800,)

In [ ]:
lab = preprocessing.LabelEncoder()
Y_train = lab.fit_transform(Y_train)

In [ ]:
svm_model.fit(X_train, Y_train)

SVC(kernel='linear')

In [ ]:
X_train_prediction = svm_model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [ ]:
Y_prediction = svm_model.predict(X_test)

In [ ]:
lab = preprocessing.LabelEncoder()
Y_test = lab.fit_transform(Y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
Accuracy = accuracy_score(Y_prediction, Y_test)

In [ ]:
print('Accuracy score of Support Vector Machine Model: ', Accuracy)

Accuracy score of Support Vector Machine Model:  1.0

# **Random Forest:**

In [ ]:
randomforest_model = RandomForestClassifier()

In [ ]:
randomforest_model.fit(X_train, Y_train)

RandomForestClassifier()

In [ ]:
X_train_prediction = randomforest_model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [ ]:
Y_prediction = randomforest_model.predict(X_test)

In [ ]:
Accuracy = accuracy_score(Y_prediction, Y_test)

In [ ]:
print('Accuracy of Random Forest Model: ', Accuracy)

Accuracy of Random Forest Model:  1.0

# **Logistic Regression Model:**

In [ ]:
model=LogisticRegression(max_iter=3000)

In [ ]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=3000)

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [ ]:
Y_prediction = model.predict(X_test)

In [ ]:
Accuracy = accuracy_score(Y_prediction, Y_test)

In [ ]:
print('Accuracy of Logistic Regression Model: ', Accuracy)

Accuracy of Logistic Regression Model:  1.0

## **The model, namely, Support Vector Machine has an accuracy of 94.2%.**

# **Making a Predictive System for Support Vector Machine Model:**

In [ ]:
input_data = (38,2,2,1,5,3,2,3,2,4,1,4,2,4,6,7,2,5,8,1,3,2,3)

In [ ]:
input_data_as_array = np.asarray(input_data)

In [ ]:
input_data_reshaped = input_data_as_array.reshape(1,-1)

In [ ]:
prediction = randomforest_model.predict(input_data_reshaped)

In [ ]:
print(prediction)

[2]

In [ ]:
if (prediction[0] == 1):
  print('Low Risk of Stroke')
elif(prediction[0] == 2):
  print('Medium Risk of Stroke')
else:
  print('High Risk of Stroke')

Medium Risk of Stroke